.quote {
    text-align: center;
    
}




/*  the (*) marks that it is valid for the entire file*/
 *{
    margin: 0;
    padding: 0;
    max-width: 100%
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}





.heading1{
    padding-top: 40px;
    padding-bottom: 20px;
}


.pad {
    padding-top: 60px;
}

.pad1{
    padding-top: 40px;
}


.submit {
    padding-top: 40px;
    text-align: right;
}

.rate{
    color: orange;
}


   


