



.Tyranid {
    padding-bottom: 50px;
    text-align: center;
    

}

.card1 {
    box-shadow: 0px 4px 8px 0px beige;
    transition: 0.3s;
    padding: 10px; 
    object-fit: cover;
    width: 100%;
    
}
.card1:hover {
    box-shadow: 0 12px 24px 0 beige;
    padding: 50px; /* when hovering the img gets smaller*/
}

.grid-container{
    display:grid; 
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.grid-item:hover {
    box-shadow: 0px 4px 8px 16px gray;
    padding: 10px
}



