.quote {
    text-align: center;
    
}

star{}
.heading {  
    color: beige;
    text-align: center;
}

.star {
    color:orange;
  
}


/*  the (*) marks that it is valid for the entire file*/
 *{
    margin: 0;
    padding: 0;
    max-width: 100%
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.heading1{
    padding-top: 40px;
    padding-bottom: 20px;
}


.pad {
    padding-top: 60px;
}

.pad1{
    padding-top: 40px;
}


.submit {
    padding-top: 40px;
    text-align: right;
}

.checked{
    color: orange;
}


   


